*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:beige;
}
.hero{
      display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    background-color:rgb(219, 96, 219);
    border-radius:12px;
    box-shadow:0 3px 8px rgba(67, 148, 210, 0.6);
    padding:20px;
    width:350px;
}
.card img{
    border-radius:50%;
    border:2px solid purple;
    height:120px;
    width:120px;
}
button{
    background-color:white;
    border-radius:6px;
    border:none;
    padding:10px;
    font-size:16px;
    cursor:pointer;
    text-align:center;  /* chatgpt i know there is a mistake i wantt to button in center also any more tags whic we use here in button tell me*/
    transition:.3s;
}
button:hover{
    background-color:purple;
    transform:scale(1.05);

}
h1{
    text-align:center;
}
footer{
    font-weight:bold;
}
p{
    gap:10px;
}